.container{
  width: 500px;
  margin: auto;
  border: 1px solid green;
  padding: 20px 40px
}

form{
  width: 100%;
}

.flied{
  width: 75%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn{
  background-color: black !important;
  padding: 10px 20px;
  font-size: 23px;
  width: 30%;
  color: white;
  border-radius: 5px;
  display: block;
}